# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
# IDEs
.idea/
.vscode/
CLAUDE.md
.claude/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Poetry
.poetry/
poetry.toml

# MacOS
.DS_Store

# Test logs
# logs/
